<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Booking Ride App</title>
</head>
<body>
    <h1>Welcome to the Booking Ride App</h1>
    <nav>
        <ul>
            <li><a href="{{ url_for('display_users') }}">Users</a></li>
            <li><a href="{{ url_for('display_riders') }}">Riders</a></li>
            <li><a href="{{ url_for('display_drivers') }}">Drivers</a></li>
            <li><a href="{{ url_for('display_trips') }}">Trips</a></li>
            <li><a href="{{ url_for('display_ratings') }}">Ratings</a></li>
            <li><a href="{{ url_for('show_registration_form') }}">Register</a></li>
        </ul>
    </nav>
</body>
</html>