{% extends 'base.html' %}

{% block title %}Users - Booking Ride App{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riders</title>
</head>
<body>
    <h1>Rider Information</h1>
    <table>
        <tr>
            <th>Rider ID</th>
            <th>Username</th>
            <th>Payment Method</th>
            <th>Loyalty Points</th>
        </tr>
        {% for rider in riders %}
            <tr>
                <td>{{ rider[0] }}</td>
                <td>{{ rider[1] }}</td>
                <td>{{ rider[2] }}</td>
                <td>{{ rider[3] }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>

{% endblock %}
